{% extends 'adopcion/base.html' %}

{% block title %}Iniciar Sesión - Luna & Lía{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Iniciar Sesión</h3>
                    <p class="text-center text-muted">¡Qué bueno verte de nuevo!</p>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary mt-3">Entrar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <small>¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a>.</small>
                    <br>
                    <small><a href="{% url 'recuperar_password_email' %}" class="text-decoration-none">¿Olvidaste tu contraseña?</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 